html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.white-section {
  background-color: #fff !important;
}

.vision-section {
  padding-bottom: 0px;
}

.aqua {
  background-color: #00e0dd;
}

.aqua-text {
  color: #00e0dd;
}

.nav-hover:hover {
  color: #00e0dd !important;
}
