@font-face {
  font-family: "Avenir";
  src: local("Avenir"),
    url(../public/fonts/AvenirLTStd-Roman.otf) format("truetype");
}
@font-face {
  font-family: "Century Gothic Bold";
  src: local("Century Gothic Bold"),
    url(../public/fonts/gothicb.ttf) format("truetype");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Avenir", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #00e0dd;
}

* {
  box-sizing: border-box;
}

.title {
  font-size: 3.9rem;
  margin-bottom: 1rem !important;
  font-family: "Century Gothic Bold", sans-serif;
}

.most-titles {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 0 0 0 0;
}

.white-section {
  background-color: #fff !important;
}

.vision-section {
  padding-bottom: 0px;
  padding-right: 2rem;
  padding-left: 2rem;
  width: 100%;
}

.aqua {
  background-color: #00e0dd;
}

.aqua-text {
  color: #00e0dd !important;
  margin-bottom: 0 !important;
}

.nav-hover:hover {
  color: #00e0dd !important;
}

.faq-section {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 6rem;
}

.border-container {
  background-image: linear-gradient(to right, #00e0dd, #000);
  padding: 3px;
  border-radius: 10px;
}

.border-container > a {
  background-color: white;
  border-radius: 10px;
  transition: 0.5s;
  font-weight: bold;
}

.border-container > a:hover {
  background-color: rgb(0, 0, 0, 0);
  color: white;
}

.border-container:hover {
  background-image: linear-gradient(to left, #000, #00e0dd);
}

.btn-container {
  margin: 0;
  padding: 0;
}

.wallet-button {
  padding: 1em 2em;
  position: relative;
  z-index: 2;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  font-size: 1.1em;
  transition: 0.3s;
  border: 4px solid green;
  border-image-source: linear-gradient(
    to right,
    #00e0dd 0%,
    #4a5e8c 44%,
    #4a5e8c 49%,
    #4a5e8c 57%,
    #744a9e 100%
  );
  border-image-slice: 4;
  overflow: hidden;
}

.wallet-button::after {
  content: "";
  position: absolute;
  transition: 0.3s;
  content: "";
  width: 0;
  bottom: -1px;
  height: 3px;
  background: linear-gradient(
    to right,
    #00e0dd 0%,
    #4a5e8c 44%,
    #4a5e8c 49%,
    #4a5e8c 57%,
    #744a9e 100%
  );
  height: 120%;
  left: -10%;
  transform: skewX(15deg);
  z-index: -1;
}

.wallet-button:hover {
  color: white;
}

.wallet-button:hover::after {
  width: 120%;
}

.nav-link {
  color: white !important;
  font-size: 1.2rem;
}

.nav-link:hover {
  color: rgb(255, 255, 255, 0.7) !important;
}

.center {
  justify-content: center;
  align-items: center;
  display: grid;
  margin: 1rem;
}

.product-image-container {
  /* height: 32rem; */
  display: grid;
  margin: 0;
}

.product-image-container img {
  align-self: center;
  border-radius: 10px;
  width: 100%;
  height: auto;
  box-shadow: 10px 10px 5px rgb(211, 211, 211, 0.15);
}

@media screen and (max-width: 1370px) {
  .image-container > img {
    align-self: center;
  }
}

@media screen and (max-width: 585px) {
  .image-container > img {
    height: 300px !important;
  }
}

.image-container-no-overflow {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border: 5px solid black;
  border-radius: 10px;
  align-items: center;
  text-align: center;
}

.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: "Avenir";
}

.white {
  color: white;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 115px;
  display: block;
}

.end-button {
  max-width: 100%;
  margin-bottom: 10px;
}

.clear-cart-btn {
  position: absolute;
  right: 100px;
}

.product-container {
  max-width: 45%;
  margin: auto;
}

.product-carousel {
  position: relative;
}

.white-text {
  color: white;
}

.nft-container {
  width: 100%;
}

.nft-image-container {
  display: flex;
  align-items: center;
  position: relative;
  height: 80%;
}

.nft-card {
  position: relative;
  max-width: 350px;
  min-height: 550px;
  color: white;
  border-radius: 15px;
}

.nft-card h1 {
  font-size: 26px;
}

.nft-card img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: 10px 10px 5px rgb(211, 211, 211, 0.15);
}

.border-selected {
  border: solid 5px lightblue;
}

/* @keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

.slide-two img {
  width: 100%;
  align-self: center;
}

.slide-three {
  width: 100%;
  padding-top: 3rem;
}

.slide-one,
.slide-two,
.slide-three {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh !important;
  width: 100%;
}

.item-fadein {
  animation: fadein 1s linear forwards 1s;
  -webkit-animation: fadein 1s linear forwards 1s;
  color: white;
  opacity: 0;
}

.item-fadeout {
  animation: fadeout 1.5s linear forwards 1s;
  -webkit-animation: fadeout 1.5s linear forwards 1s;
  opacity: 1;
  position: absolute;
}

.future-text {
  text-decoration: overline underline #00e0dd;
}

.gear-text {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  color: black;
}

.center > img:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.faq-link {
  color: white;
}

.faq-link:hover {
  color: #00e0dd;
}

.overlay {
  position: absolute;
  overflow: hidden;
  right: -20%;
  transform: scale(0.5);
  background-color: black;
  vertical-align: middle;
}

.index-line {
  width: 100%;
  background-image: linear-gradient(90deg, #fff, #00e0dd);
  height: 3px !important;
  margin: 1.5rem auto;
}

.description {
  color: black;
  font-size: 1.3rem;
}

.logo-text {
  position: absolute;
  text-align: left;
  top: 1px;
  left: 10px;
  font-family: "Century Gothic Bold", sans-serif;
}

.new-footer {
  color: white;
  font-family: "Century Gothic Bold", sans-serif;
  font-size: 1.5rem;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 1600px) {
  .center > img {
    width: 400.062726px;
    height: 533.416968px;
  }
}

@media screen and (max-width: 1100px) {
  .faq-section {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 875px) {
  .center > img {
    width: 274.995px;
    height: 366.66px;
  }
  .description {
    font-size: 1rem;
  }
}

@media screen and (max-width: 525px) {
  .most-titles {
    font-size: 3rem;
  }

  .center {
    margin: 0.5rem;
  }

  .image-container {
    height: 20rem;
  }

  .image-container > img {
    height: initial !important;
  }
}

@media screen and (max-width: 300px) {
  .title {
    font-size: 3rem;
  }

  .center > img {
    width: 150px;
    height: initial;
    align-items: center !important;
    justify-content: center !important;
    margin-bottom: 1rem;
  }

  .center {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .center > h2 {
    margin-left: 0.5rem;
  }

  .image-container > img {
    width: 200px;
  }
}

@media screen and (max-height: 1140px) and (max-width: 598px) {
  .vision-section {
    height: initial;
  }
}

.price {
  font-size: 2rem;
  margin: 0 auto 0 auto
}

.dropdown {
  margin-bottom: 0.7rem;
}
