@font-face {
  font-family: "Avenir";
  src: local("Avenir"),
    url(../public/fonts/AvenirLTStd-Roman.otf) format("truetype");
}
@font-face {
  font-family: "UniNeueBold";
  src: local("UniNeueBold"),
    url(../public/fonts/UniNeueBold.otf) format("truetype");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Avenir", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.title {
  font-size: 3.9rem;
  margin-bottom: 1rem !important;
  font-family: "UniNeueBold";
}

.most-titles {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 0 0 0 0;
}

.hero-section {
  height: 100vh;
  background-image: url("/images/city.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.section {
  position: relative;
}

.white-section {
  background-color: #fff !important;
}

.vision-section {
  padding-bottom: 0px;
  padding-right: 2rem;
  padding-left: 2rem;
}

.aqua {
  background-color: #00e0dd;
}

.aqua-text {
  color: #00e0dd !important;
  margin-bottom: 0 !important;
}

.nav-hover:hover {
  color: #00e0dd !important;
}

.features,
.quality-section,
.exc-section {
  background-size: cover;
  background-repeat: no-repeat;
  /* Height of the header */
  height: calc(100vh - 118px);
}

.features {
  background-color: #1f1f1f !important;
  background-image: url("/images/nfts.jpg");
}

.feature-section {
  position: relative;
}

.feature-text {
  padding-top: 2rem;
  padding-left: 2rem;
  width: 1200px;
}

.quality-section {
  background-image: url("/images/background-hoodie.jpg");
}

.quality-section > div {
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0, 0));
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding-left: 2rem;
}

.quality-text,
.exc-text {
  margin-bottom: 4rem;
  width: 1000px;
}

.exc-section {
  background-image: url("/images/nails.jpg");
}

.exc-section > div {
  background-image: linear-gradient(to left, rgb(0, 0, 0), rgb(0, 0, 0, 0));
  height: 100%;
  text-align: right;
  display: flex;
  align-items: flex-end;
  justify-content: right;
  padding-right: 2rem;
}

.image-container {
  height: 32rem;
  display: grid;
}

.image-container > img {
  align-self: center;
}

.faq-section {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 6rem;
}

.border-container {
  background-image: linear-gradient(to right, #00e0dd, #000);
  padding: 3px;
  border-radius: 10px;
}

.border-container > a {
  background-color: white;
  border-radius: 10px;
  transition: 0.5s;
  font-weight: bold;
}

.border-container > a:hover {
  background-color: rgb(0, 0, 0, 0);
  color: white;
}

.border-container:hover {
  background-image: linear-gradient(to left, #000, #00e0dd);
}

.btn-container {
  margin: 0;
  padding: 0;
}

.wallet-button {
  padding: 1em 2em;
  position: relative;
  z-index: 2;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  font-size: 1.1em;
  transition: 0.3s;
  border: 4px solid green;
  border-image-source: linear-gradient(
    to right,
    #00e0dd 0%,
    #4a5e8c 44%,
    #4a5e8c 49%,
    #4a5e8c 57%,
    #744a9e 100%
  );
  border-image-slice: 4;
  overflow: hidden;
}

.wallet-button::after {
  content: "";
  position: absolute;
  transition: 0.3s;
  content: "";
  width: 0;
  bottom: -1px;
  height: 3px;
  background: linear-gradient(
    to right,
    #00e0dd 0%,
    #4a5e8c 44%,
    #4a5e8c 49%,
    #4a5e8c 57%,
    #744a9e 100%
  );
  height: 120%;
  left: -10%;
  transform: skewX(15deg);
  z-index: -1;
}

.wallet-button:hover {
  color: white;
}

.wallet-button:hover::after {
  width: 120%;
}

.nav-link {
  color: white !important;
  font-size: 1.2rem;
}

.nav-link:hover {
  color: rgb(255, 255, 255, 0.7) !important;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 84vh;
}

.flex-container > h1 {
  font-size: 10em;
  font-family: "UniNeueBold";
}

.hero-footer {
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.center {
  justify-content: center;
  display: grid;
}

.image-container-no-overflow {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border: 5px solid black;
  border-radius: 10px;
  align-items: center;
  text-align: center;
}

.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: "Avenir";
}

.not-visible {
  display: none !important;
}

.white {
  color: white;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
}

.text-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.item-fadein {
  animation: fadein 1s linear forwards 1s;
  -webkit-animation: fadein 1s linear forwards 1s;
  color: white;
  opacity: 0;
}

.item-fadeout {
  animation: fadeout 1.5s linear forwards 1s;
  -webkit-animation: fadeout 1.5s linear forwards 1s;
  opacity: 1;
  position: absolute;
}

.future-text {
  text-decoration: overline underline #00e0dd;
}

.gear-text {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  color: black;
}

.center > img:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.faq-link {
  color: white;
}

.faq-link:hover {
  color: #00e0dd;
}

.banner {
  width: 90vw;
}

.banner img {
  width: 100%;
}

.overlay {
  position: absolute;
  overflow: hidden;
  right: -20%;
  transform: scale(0.5);
  background-color: black;
  vertical-align: middle;
}

.index-line {
  width: 90%;
  color: white;
  margin: 1.5rem auto;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* @keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

@media screen and (max-width: 1900px) {
  .feature-text {
    width: 900px;
  }
}

@media screen and (max-width: 1600px) {
  .feature-text {
    width: 860px;
  }

  .center > img {
    width: 400.062726px;
    height: 533.416968px;
  }
}

@media screen and (max-width: 1370px) {
  .image-container > img {
    align-self: center;
  }
}

@media screen and (max-width: 1275px) {
  .space-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 1100px) {
  .quality-text,
  .exc-text {
    width: 100%;
  }

  .quality-section > div,
  .exc-section > div {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 875px) {
  .feature-text {
    width: 100%;
    padding-right: 2rem;
  }
  .center > img {
    width: 274.995px;
    height: 366.66px;
  }
}

@media screen and (max-height: 800px) and (max-width: 450px) {
  .quality-section {
    height: 1000px !important;
  }
}

@media screen and (max-width: 585px) {
  .image-container > img {
    height: 300px !important;
  }
}

@media screen and (max-width: 525px) {
  .flex-container > h1 {
    font-size: 5em !important;
  }

  .feature-text > h2 {
    font-size: 1.4rem;
  }

  .most-titles {
    font-size: 3rem;
  }

  .image-container {
    height: 20rem;
  }

  .image-container > img {
    height: initial !important;
  }

  .aaron > img {
    width: 200px;
  }

  .jonah > img {
    width: 200px;
  }

  .anayo > img {
    width: 200px;
  }
}

@media screen and (max-width: 300px) {
  .title {
    font-size: 3rem;
  }

  .feature-text > h2 {
    font-size: 1.3rem;
  }

  .center > img {
    width: 150px;
    height: initial;
    align-items: center !important;
    justify-content: center !important;
    margin-bottom: 1rem;
  }

  .center {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .center > h2 {
    margin-left: 0.5rem;
  }

  .features,
  .exc-section {
    height: auto;
  }
  .quality-section {
    height: 1200px !important;
  }

  .image-container > img {
    width: 200px;
  }
}

@media screen and (max-height: 1100px) {
  .vision-section {
    height: auto;
  }
}

@media screen and (max-height: 945px) {
  .flex-container {
    height: 80vh;
  }
  .features {
    background-image: none;
  }
}

@media screen and (max-height: 797px) {
  .flex-container {
    height: 77vh;
  }
}

@media screen and (max-height: 667px) {
  .flex-container {
    height: 75vh;
  }
}

@media screen and (max-height: 1175px) and (max-width: 445px) {
  .features {
    background-image: none;
  }
}

@media screen and (max-height: 1140px) and (max-width: 598px) {
  .vision-section {
    height: initial;
  }
}

@media screen and (max-height: 800px) and (max-width: 1665px) {
  .features {
    background-image: none;
  }

  .features {
    height: auto;
  }
}

@media screen and (max-height: 340px) and (max-width: 569px) {
  .features {
    height: 950px;
  }
}
